*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*Variales*/
body{
    --wine: #ab2849;
    --blue: #93b5c9;
    position: relative;
}
nav{
    background: var(--blue);
    height: 13vh;
    width: 100vw;
    position: absolute;
}
main{
    position: relative;
    height: 85vh;
    width: 100vw;
}
header{
    position: absolute;
    background: var(--wine);
    height: 24vh;
    width: 100vw;
    top: 13vh;
}
section{
    position: absolute;
    top: 36.5vh;
    width: 80vw;
    left: 10vw;
   
}
section > *{
    height: 11vh;
    width: 100%;
    background: var(--wine);
    margin: 1em 0;
}
.cubo1, .cubo2{
    position: relative;
    background: none;
}
div:nth-of-type(even) > *:first-child {
    position: absolute;
    width: 49.5%;
    height: 100%;
    background-color: var(--wine);
    right: 0;
    
  }
  div:nth-of-type(even) > *:last-child {
    position: absolute;
    width: 49.5%;
    height: 100%;
    background-color: var(--wine);
    left: 0;
  }
  footer{
    position: absolute;
    height: 8vh;
    width: 100vw;
    background: var(--wine);
    top:92vh;
  }

